<div class="" id="developer">

	<div class="page-title">
		<div class="title_left">
			<h3>Developer</h3>
		</div>
		<div class="title_right text-right">
			<div class="btn-order-view">
				<button v-show="button" @click="update" type="button" class="btn btn-primary">
					<i class="fa fa-refresh"></i> Atualizar
				</button>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="row">
		<div class="col-md-5 col-sm-5 col-xs-12">
			<list ref="list"></list>
			<!-- /List -->      
		</div>
		<div class="col-md-7 col-sm-7 col-xs-12">
			<forms :host="host" ref="form"></forms>
		</div>
	</div>

</div>