<div class="form-group" v-show="model.length">
    <div class="col-xs-12">
        <legend>Produtos Personalizados
            <button type="button" class="btn btn-sm btn-primary pull-right" @click="AddSingleGrid">
                <i class="fa fa-plus"></i>
            </button>
        </legend>
        <div class="clearfix"></div>
    </div>
    <div class="col-xs-12">

        <div class="has-warning has-feedback" v-show="bool.error"> 
            <span class="help-block">                
                <b>Necessário preenchimento de todos campos!</b> 
                <span style="margin:0" class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            </span>
        </div>

        <div class="clearfix"></div>

        <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">

            <div class="panel" v-for="(i, index) in quantidade">
                <a class="panel-heading" role="tab" :id="'heading'+ numberInglish[i]" 
                    data-toggle="collapse" data-parent="#accordion" :href="'#collapse'+ numberInglish[i]" aria-expanded="true" :aria-controls="'collapse'+ numberInglish[i]">
                    <h4 class="panel-title">
                        <b>{{ model[i].title || (i + 1) +"#" }}</b>
                        <a class="close-link pull-right" v-on:click.stop.prevent="DestroyGrid(index, model[i].title)"><i class="fa fa-close"></i></a>
                    </h4>
                </a>
                <div :id="'collapse'+ numberInglish[i]" class="panel-collapse collapse" role="tabpanel" :aria-labelledby="'heading'+ numberInglish[i]">
                    <div class="panel-body">

                        <div class="form-group">
    						<label for="">Titulo</label>
    						<input class="form-control" placeholder="..." type="text" v-model="model[i].title">
    					</div>

                        <div class="form-group">
                            
                            <label for="">Imagens</label>
                            
                            <br>
                            
                            <div class="col-xs-12">
                                <div class="col-xs-4" v-for="(obj, j) in model[i].images">
                                    <div class="thumbnail">
                                        <div class="image view view-first">
                                            <img style="height: 100%; display: block;" :src="url + VerifyPathInImage(model[i].path, obj.image)" alt="image">
                                            <div class="mask">
                                                <p>&nbsp;&nbsp;&nbsp;</p>
                                                <div class="tools tools-bottom text-right">
                                                    <a href="#" @click.prevent="RemoveImage(index, {'image':obj.image, 'index':j, 'path':model[i].path})"><i class="fa fa-times"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br>

                            <button type="button" class="btn btn-primary" @click="OpenModal('.dropzone-modal'+ index)" ata-toggle="modal">
                                <i class="fa fa-plus"></i> Imagens
                            </button>

                            <upload ref="upload" :host="host" :index="index"></upload>

                        </div>                        

                        <div class="form-group">
    						<label for="">Preço</label>
    						<input class="form-control currency" placeholder="..." type="text" v-mask="'money'" v-model="model[i].price">
    					</div>

                        <div class="form-group">
                            <div class="col-xs-4" style="padding-left:0;">
                                <label for="">Altura</label>
                                <input class="form-control" placeholder="..." type="text" v-mask="'999'" v-model="model[i].height">
                            </div>
                            <div class="col-xs-4">
                                <label for="">Largura</label>
                                <input class="form-control" placeholder="..." type="text" v-mask="'999'" v-model="model[i].width">
                            </div>
                            <div class="col-xs-4" style="padding-right:0;">
                                <label for="">Comprimento</label>
                                <input class="form-control" placeholder="..." type="text" v-mask="'999'" v-model="model[i].length">
                            </div>
                        </div>

                        <div class="form-group">
    						<label for="">Curta Descrição</label>
    						<textarea class="form-control" rows="4" placeholder="..." v-model="model[i].desc"></textarea>
    					</div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>