 <div id="order-list">
    <div class="x_panel">
        <div class="x_title">
            <h2>Pedidos</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table id="list" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>N. Pedido </th>
                        <th>Código da Transação </th>
                        <th>Data </th>
                        <th>Cliente </th>
                        <th>Entrega Para </th>
                        <th>Valor Cobrado </th>
                        <th>Status </th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="x in 36">
                        <td>{{ list.num_pedido }}</td>
                        <td>{{ list.cod_transacao }}</td>
                        <td>{{ list.data }}</td>
                        <td>{{ list.cliente }}</td>
                        <td>{{ list.entrega_para }}</td>
                        <td>{{ list.valor_cobrado }}</td>
                        <td>{{ list.status }}</td>
                        <td class="text-center">
                            <a v-bind:href="url +'/admin/sales/order-view'" title="Visualizar">
                                <i class="fa fa-sign-in"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>




        