<div class="form-group">
    <div class="col-xs-12">
        <legend>Serviços de Entrega</legend>

        <a href="#" class="pull-right" style="margin-bottom: 12px;">Configurações do serviço de entrega</a>
        <div class="clearfix"></div>

        <ul class="delivery list-block list-unstyled to_do">
            <li>
                <input type="checkbox" ref="5" value="5" v-model="model"> 
                <span style="position:relative;top:2px;left:2px;">Correios</span>
            </li>
            <li>
                <input type="checkbox" ref="9" value="9" v-model="model"> 
                <span style="position:relative;top:2px;left:2px;">Transportadora</span>
            </li>
            <li>
                <input type="checkbox" ref="10" value="10" v-model="model"> 
                <span style="position:relative;top:2px;left:2px;">Retirar no Local</span>
            </li>
            <li>
                <input type="checkbox" ref="6" value="6" v-model="model"> 
                <span style="position:relative;top:2px;left:2px;">Frete Grátis</span>
            </li>
        </ul>
    </div>
</div>