<div class="x_panel">

	<div class="x_title">
		<h2><i :class="title.class"></i> {{ title.text }}</h2>
		<div class="clearfix"></div>
	</div>

	<div class="x_content">
		<div class="col-md-12">
			<div v-show="bool.load">
				<pulse-loader class="loader text-center"></pulse-loader>
			</div>
			<div v-show="!bool.load">
				<table id="list" class="table table-striped table-bordered" width="100%">
					<thead style="display:none;">
						<tr class="">
							<td class=""></td>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>
