<div class="" id="events">

	<div class="page-title">
		<div class="title_left">
			<h3>Relatório de Visitas</h3>
		</div>
		<div class="title_right text-right">
			<div class="btn-order-view">

			</div>
		</div>
	</div>
	
	<div class="clearfix"></div>
	<div class="page-content">
		<div class="row">
			<form action="">
				<div class="col-xs-12">
					
				</div>
			</form>
		</div>
	</div>

	
	
	<div class="row">
		<div class="col-xs-12">
			<list ref="list"></list>
		</div>
	</div>
	<div class="clearfix"></div>

</div>
<!-- /eventos -->