<div class="x_panel">
    <!-- Pessoas autorizada a esse repositorio -->
    <div class="x_title">
        <h2><i class="fa fa-file-image-o"></i> Galeria</h2>
                <div class="nav navbar-right">
        <a href="#" class="btn btn-link"><i class="fa fa-cloud-upload"></i> Fotos</a>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="x_content">
        <div class="row">
            <div class="col-md-3" v-for="x in 12">
                <div class="thumbnail">
                <div class="image view view-first">
                    <img style="display: block;" src="/images/galeria/1.jpg" alt="image">
                    <div class="mask">
                    <p>&nbsp;</p>
                    <div class="tools tools-bottom">
                        <a href="#"><i class="fa fa-times"></i></a>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

</div>