<div class="x_panel">
<!-- Lista com os repositorios -->
<div class="x_title">
    <h2><i class="fa fa-cubes"></i> Repositório</h2>
    <div class="clearfix"></div>
</div>
<div class="x_content">
    <table id="datatable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr style="display:none"><td></td></tr>
    </thead>
    <tbody>
        <tr>
        <td>
            <div class="col-md-12">
            <label>
                <a href="#">Tiger Nixon</a> <br>
                <small>PIN: 8965</small>
            </label>
                                <a href="#"><i class="fa fa-trash fa-lg pull-right"></i></a>
            </div>

        </td>
        </tr>
        <tr>
        <td>
            <div class="col-md-12">
            <label>
                <a href="#">Garrett Winters</a> <br>
                <small>PIN: 8965</small>
            </label>
                                <a href="#"><i class="fa fa-trash fa-lg pull-right"></i></a>
            </div>

        </td>
        </tr>
        <tr>
        <td>
            <div class="col-md-12">
            <label>
                <a href="#">Ashton Cox</a> <br>
                <small>PIN: 8965</small>
            </label>
                                <a href="#"><i class="fa fa-trash fa-lg pull-right"></i></a>
            </div>

        </td>
        </tr>
        <tr>
        <td>
            <div class="col-md-12">
            <label>
                <a href="#">Bradley Greer</a> <br>
                <small>PIN: 8965</small>
            </label>
                                <a href="#"><i class="fa fa-trash fa-lg pull-right"></i></a>
            </div>


        </td>
        </tr>
        <tr>
        <td>
            <div class="col-md-12">
            <label>
                <a href="#">Brenden Wagner</a> <br>
                <small>PIN: 8965</small>
            </label>
                                <a href="#"><i class="fa fa-trash fa-lg pull-right"></i></a>
            </div>

        </td>
        </tr>
    </tbody>
    </table>
</div>
</div>