
#modalAddComent{
    h4{
        width: 90%;
    }
    textarea{
        
        width: 100%;
        border: solid 0px #ddd;
        padding: 10px 15px;
        background: #eee;

        &:hover{
            border-color: #ccc;
        }
    }
    form a{
        margin-top: 15px;
    }
}